[project]
	description = Picsily project submitted for Coursra Full Stack Web Development Certification
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vaibhav Arora (vaibhavar)
[access "refs/for/refs/*"]
	read = group user/Vaibhav Arora (vaibhavar)
	push = group user/Vaibhav Arora (vaibhavar)
	label-Code-Review = -2..+2 group user/Vaibhav Arora (vaibhavar)
	label-Verified = -1..+1 group user/Vaibhav Arora (vaibhavar)
	rebase = group user/Vaibhav Arora (vaibhavar)
	removeReviewer = group user/Vaibhav Arora (vaibhavar)
	submit = group user/Vaibhav Arora (vaibhavar)
[access "refs/heads/*"]
	read = group user/Vaibhav Arora (vaibhavar)
	create = group user/Vaibhav Arora (vaibhavar)
	push = +force group user/Vaibhav Arora (vaibhavar)
	pushMerge = group user/Vaibhav Arora (vaibhavar)
[access "refs/tags/*"]
	push = group user/Vaibhav Arora (vaibhavar)
	push = +force group user/Vaibhav Arora (vaibhavar)
