<main>
    <div class="picsily-loader" ng-show="$root.isLoading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="preloader-wrapper big active">
                        <div class="preloader-wrapper big active">
                            <div class="preloader-wrapper big active">
                                <div class="preloader-wrapper big active">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-if="$root.isUserLoggedIn" class="col-md-2 fixed-action-btn smooth-scroll picsily-fab" style="position:fixed; bottom: 45px; right: 24px;" ng-controller="UploadController">
            <div class="upload-preview" ng-show="fileExists">
                <img src="" id="preview" />
                <button class="btn red btn-primary btn-sm" ng-click="startUpload()"><i class="fa fa-upload"></i></button>
                <button class="btn btn-danger btn-sm" ng-click="cancelFile()"><i class="fa fa-remove"></i></button>
            </div>
            <input type="file" name="file" class="fab-input" onchange="angular.element(this).scope().handleFile(angular.element(this).scope())" />
            <button ng-show="!fileExists" class="btn red btn-round btn-medium-round flex-center" ng-click="handleFileInput()">
                <i class="fa fa-camera"></i>
            </button>
        </div>
    </div>
    <div class="container" ng-controller="HomeController">
        <div class="row mt-5 pt-5">
            <div class="col-md-12" ng-if="$root.isUserLoggedIn">
                <h4>Welcome {{$root.user.firstname}}, here you see your pictures.</h4>
            </div>
            <!-- Login box -->
            <div class="col-md-5" ng-if="!$root.isUserLoggedIn" ng-include="'views/login.html'"></div>
            <!-- Add photo widget -->
            <!-- <div class="col-md-4" ng-if="$root.isUserLoggedIn" ng-include="'views/welcome.html'"></div>-->
            <!-- Photos from community -->
            <div class="col-md-4" ng-if="$root.isUserLoggedIn" ng-repeat="photo in photos" ng-controller="CardsController" ng-include="'views/photo-card.html'"></div>
        </div>
    </div>
</main>